{% load static %}
<style>
.header {
        background-color: #333333;
    }

    .nav-item a.nav-link {
        font-size: 20px; /* Adjust the font size as needed */
        font-weight: bold;
        color: white; /* Set the text color to white */
    }

    .nav-item a.nav-link:hover {
        color: white !important;
    }

</style>

<div class="header">
   <div class="header-left">
      <a style="font-family: 'Space Mono', monospace; color: white; font-size: 30px;" href="#" class="logo">
         - Omborxona
      </a>
      <a href="#" class="logo logo-small">
         MedAI Bot
      </a>
   </div>




   <ul class="nav user-menu">


      <li class="nav-item has-arrow">
   <a href="#" style="color: white; font-size: 18px" class="dropdown-toggle nav-link" data-toggle="dropdown">
      Kabinet
   </a>
   <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" style="color: red" href="{% url 'logout' %}">
         <i class="fas fa-sign-out-alt"></i>&nbsp;Chiqish
      </a>
   </div>
</li>
   </ul>
</div>

<script>
   // Enable Bootstrap Dropdown Hover Plugin
   $(document).ready(function(){
      $('.dropdown-toggle').dropdownHover();
   });
</script>
