{% load static %}
<style>
   .space {
  display: inline-block;
  width: 10px; /* Adjust the width as per your desired spacing */
}
.submenu {
        border: 1px solid #ccc;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }


</style>
<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  <ul>
                     <li class="menu-title">
                        <h3 style="color: #333333; font-size: 18px">Шаблоны для поиска на тему:</h3>
                     </li>
                     <li class="submenu">
    <a style="color: grey" href="#">Медицинские Термины<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Что означает термин "______" в медицинском контексте?<br><br>
                2) Какие основные характеристики и определения связаны с термином "______"?<br><br>
                3) Каковы основные функции и роли "______" в организме?<br><br>
                4) Какие болезни или состояния могут быть связаны с термином "______"?<br><br>
                5) Каковы основные методы диагностики или измерения "______"?<br><br>
                6) Какие лечебные меры или терапии могут быть связаны с термином "______"?<br><br>
                7) Расскажите о связи между "______" и другими медицинскими терминами или концепциями.<br><br>
                8) Какие последствия или осложнения могут возникнуть в случае нарушения "______"?<br><br>
                9) Какие современные исследования или новые технологии связаны с термином "______"?<br><br>
                10) Какие факторы могут повлиять на уровень или функцию "______" в организме?
            </a>
        </li>
    </ul>
</li>
<li class="submenu">
    <a style="color: grey" href="#">Составить Тесты<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Создайте тест на тему "______" для подготовки к предмету по ______<br><br>
                2) Помогите мне составить 10 вопросов на основе этого текста "______" для создания теста по ______<br><br>
                3) Можете ли вы сгенерировать несколько вопросов для теста, основываясь на следующей теме: "______"?<br><br>
                4) Предоставьте мне тестовые вопросы, связанные с темой "______", чтобы я мог подготовиться к экзамену по ______.<br><br>
                5) Я бы хотел получить набор вопросов для составления теста на основе материала "______" в рамках курса по ______
            </a>
        </li>
    </ul>
</li>
                      <li class="submenu">
    <a style="color: grey" href="#">Карточки для Подготовки<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Помогите мне создать карточки на тему "______" для подготовки к предмету по ______<br><br>
                2) Создайте набор карточек с определениями и объяснениями на основе следующей темы: "______"<br><br>
                3) Можете ли вы сгенерировать карточки, которые содержат основные факты и концепции связанные с темой "______" для моей подготовки к экзамену по ______<br><br>
                4) Предоставьте мне карточки с вопросами и ответами, связанными с темой "______", чтобы я мог систематизировать свои знания перед курсом по ______<br><br>
                5) Я бы хотел получить набор карточек, которые охватывают основные термины и понятия, связанные с "______"
            </a>
        </li>
    </ul>
</li>
<li class="submenu">
    <a style="color: grey" href="#">Ресурсы и Книги<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
               1) Можете ли вы предоставить мне полезные ресурсы и ссылки в Интернете по теме "______"?<br><br>
                2) Помогите мне найти качественные онлайн-ресурсы, связанные с "______".<br><br>
                3) Предложите мне названия книг или научных статей, которые охватывают тему "______".<br><br>
                4) Какие авторитетные источники или академические журналы рекомендуются для изучения "______"?<br><br>
                5) Можете ли вы найти ссылки на вебинары или лекции, которые касаются темы "______"?<br><br>
                6) Какие книги или статьи можно почитать для более глубокого понимания "______"?<br><br>
                7) Можете ли вы найти актуальные исследования или клинические испытания, связанные с "______"?<br><br>
                8) Какие онлайн-платформы или базы данных рекомендуются для изучения "______"?<br><br>
                9) Помогите мне найти обзорные статьи или рецензии на тему "______".<br><br>
                10) Можете ли вы предложить некоторые блоги или экспертные мнения по вопросам "______"?
            </a>
        </li>
    </ul>
</li>
<li class="submenu">
    <a style="color: grey" href="#">Шаблоны для исследований<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Опиши причины, симптомы и методы диагностики заболевания ______.<br><br>
                2) Какие факторы могут способствовать развитию заболевания ______ и как их можно предотвратить?<br><br>
                3) Расскажи о различных методах лечения ______ и их эффективности.<br><br>
                4) Какие преимущества и ограничения имеет использование техники ______ в медицинской практике?<br><br>
                5) Какие новые исследования или технологии в области ______ могут быть перспективными для будущего медицинского применения?<br><br>
                6) Какие этические аспекты связаны с ______ в медицине и как они должны быть учтены?<br><br>
                7) Какие основные факторы влияют на пациентов при ______ ?<br><br>
                8) Расскажи о последних достижениях в лечении ______ и их влиянии на практику медицинской помощи.<br><br>
                9) Какие проблемы существуют в области ______ и какие шаги предпринимаются для их решения?<br><br>
                10) Каким образом ______ влияет на здоровье пациентов и как это может быть контролировано или лечено?
            </a>
        </li>
    </ul>
</li>
<li class="submenu">
    <a style="color: grey" href="#">Создание Презентации<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Помогите мне создать контент для презентации на тему "______" в области медицины<br><br>
                2) Можете ли вы подготовить презентацию, которая освещает основные аспекты "______" в медицинском контексте?<br><br>
                3) Составьте содержание для моей презентации по теме "______", включая ключевые точки и иллюстрации.<br><br>
                4) Предложите мне структуру и основные темы для презентации о новейших исследованиях или технологиях в медицине.<br><br>
                5) Можете ли вы подготовить контент презентации, который объясняет принципы диагностики и лечения "______"?<br><br>
                6) Помогите мне сформулировать заголовки и слайды, чтобы представить историческую перспективу на развитие "______" в медицине<br><br>
                7) Какие основные факты и достижения следует включить в презентацию о "______" в медицине?<br><br>
                8) Можете ли вы предоставить примеры клинических случаев или историй пациентов, которые помогут проиллюстрировать тему "______" в презентации?<br><br>
                9) Какие проблемы существуют в области ______ и какие шаги предпринимаются для их решения?<br><br>
                10) Предложите мне ключевые понятия, определения и практические примеры, которые можно включить в презентацию о "______" в медицине
            </a>
        </li>
    </ul>
</li>
                      <li class="submenu">
    <a style="color: grey" href="#">Периодическая Таблица Менделеева<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Название химического элемента с атомным номером ___?<br><br>
                2) Какова химическая символика элемента с порядковым номером ___?<br><br>
                3) Какова средняя атомная масса элемента с символом ___?<br><br>
                4) Какова электронная конфигурация элемента с атомным номером ___?<br><br>
                5) Каково положение элемента с символом ___ в периодической таблице?<br><br>
                6) Сколько протонов содержит атом элемента с порядковым номером ___?<br><br>
                7) Какой период и группа принадлежат элементу с химическим символом ___?<br><br>
                8) Какова группа элементов, называемая алкалиноземельными металлами?<br><br>
                9) Какой элемент является самым легким из галогенов?<br><br>
                10) Какие элементы входят в группу платины?
            </a>
        </li>
    </ul>
</li>
<li class="submenu">
    <a style="color: grey" href="#">Химические Свойства и Задачи<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Можете ли вы помочь мне найти информацию об элементе "______"? Например, его атомный номер, массовое число и основные свойства.<br><br>
                2) Каково строение и химическая формула соединения "______"? Можете ли вы найти информацию о его свойствах и способе получения?<br><br>
                3) Помогите решить следующую задачу: "______". Например, расчет молекулярной массы или балансировка химического уравнения.<br><br>
                4) Какие методы или эксперименты можно использовать для идентификации или анализа определенного химического соединения?<br><br>
                5) Можете ли вы найти информацию о физических и химических свойствах вещества "______"? Например, его плотность, температуру плавления или растворимость.<br><br>
                6) Какие реакции или превращения происходят между веществами "" и ""? Можете ли вы предоставить соответствующие химические уравнения?<br><br>
                7) Помогите мне найти информацию о применении определенного химического соединения в промышленности или медицине.<br><br>
                8) Какие методы или процессы используются для синтеза или получения определенного органического соединения?<br><br>
                9) Можете ли вы найти информацию о токсичности или безопасном обращении с определенным химическим веществом?<br><br>
                10) Предоставьте мне таблицу с периодической системой элементов и их основными характеристиками для использования в обучении химии.
            </a>
        </li>
    </ul>
</li>


<li class="submenu">
    <a style="color: grey" href="#">Стехиометрии и Расчёт Молей<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                 1) Какие формулы и принципы следует использовать при расчете молей в химических реакциях?<br><br>
                2) Помогите мне понять, как определить количество вещества или массу вещества на основе химической формулы и данных о реакции ______<br><br>
                3) Можете ли вы провести примеры расчета молей в различных химических реакциях?<br><br>
                4) Каким образом можно использовать уравнения реакций и коэффициенты стехиометрии для расчета массы реагентов и продуктов?<br><br>
                5) Предоставьте мне шаги и методы расчета молей, которые могут быть применены в ______ типах химических реакций.<br><br>
                6) Можете ли вы объяснить, как преобразовать массу вещества в количество вещества и наоборот с использованием стехиометрических коэффициентов?<br><br>
            </a>
        </li>
    </ul>
</li>

<li class="submenu">
    <a style="color: grey" href="#">Анатомия и Физиология<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                 1) Какая роль играет ______ в функционировании органов/систем в организме человека?<br><br>
                2) Объясните основные принципы ______ в анатомии/физиологии.<br><br>
                3) Какие органы/структуры отвечают за ______ в человеческом организме?<br><br>
                4) Расскажите о ______ и ее функциях в анатомии/физиологии.<br><br>
                5) Какие изменения происходят в организме во время ______ в анатомии/физиологии?<br><br>
                6) Какие методы исследования используются для изучения [органа/системы] в анатомии/физиологии?<br><br>
                7) Какие патологии или заболевания связаны с [органом/системой] в анатомии/физиологии?<br><br>
                8) Расскажите о физиологических механизмах, ответственных за [процесс] в анатомии/физиологии.<br><br>
                9) Какие факторы влияют на [функцию/процесс] в анатомии/физиологии?<br><br>
                10) Можете ли вы найти источники или ресурсы, где я могу найти более подробную информацию о [термине/теме] в анатомии/физиологии?
            </a>
        </li>
    </ul>
</li>

<li class="submenu">
    <a style="color: grey" href="#">Клеточная и Молекулярная Биология<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Что такое ___________ и какие функции оно выполняет в клетке?<br><br>
                2) Какие основные компоненты входят в состав ___________ и как они взаимодействуют между собой?<br><br>
                3) Какая роль ___________ в процессе ___________ в клеточной биологии?<br><br>
                4) Какие факторы или механизмы регулируют экспрессию генов в ___________?<br><br>
                5) Как ___________ влияет на процесс ___________ и какие последствия это может иметь?<br><br>
                6) Какие методы и техники используются для изучения ___________ в молекулярной биологии?<br><br>
                7) Какие биологические процессы или патологии связаны с дефектами в ___________?<br><br>
                8) Какие возможности и перспективы открывает исследование ___________ в клеточной и молекулярной биологии?<br><br>
                9) Какие методы и эксперименты помогли расширить наши знания о ___________ в последние годы?<br><br>
                10) Какие технологии или инструменты используются для визуализации и изучения ___________ в клетке?
            </a>
        </li>
    </ul>
</li>



<li class="submenu">
    <a style="color: grey" href="#">Генетика<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Какие гены связаны с [вставьте конкретное заболевание или характеристику]?<br><br>
                2) Какие факторы могут влиять на выражение генов в [вставьте конкретную ситуацию или условия]?<br><br>
                3) Какие методы исследования используются в генетике для [вставьте конкретную цель или задачу]?<br><br>
                4) Какие генетические маркеры связаны с [вставьте конкретным заболеванием или характеристикой]?<br><br>
                5) Какие последствия могут быть связаны с наличием [вставьте конкретной генетической мутации или варианта]?<br><br>
                6) Какие методы генетического тестирования используются для определения [вставьте конкретного аспекта или состояния]?<br><br>
                7) Какие генетические факторы могут влиять на риск развития [вставьте конкретного заболевания или состояния]?<br><br>
                8) Какие генетические изменения могут быть переданы по наследству от родителей к потомству?
            </a>
        </li>
    </ul>
</li>

<li class="submenu">
    <a style="color: grey" href="#">Поддерживает ли помощник Вычислительную химию и моделирование?<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                Да, помощник может помочь вам с Вычислительной химией и моделированием. Он предоставляет информацию о вычислительных методах, молекулярном моделировании и симуляциях, используемых в химических исследованиях и анализе.
            </a>
        </li>
    </ul>
</li>



                  </ul>
               </div>
            </div>
         </div>