{% load static %}
<style>

.space {
        display: inline-block;
        width: 10px; /* Adjust the width as per your desired spacing */
    }

    .sidebar {
        background-color: #333333;
    }

    .submenu a {
        color: white;
    }

    .submenu ul li a {
        color: white;
    }
   .space {
  display: inline-block;
  width: 10px; /* Adjust the width as per your desired spacing */
}
.submenu {
        border: 1px solid grey;
        border-radius: 10px;
        transition: transform 0.3s ease;
        color: white;
    }


</style>
<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  <ul>
                     <li class="menu-title">
                        <h3 style="color: white; font-size: 18px">Bo'limlar</h3>
                     </li>
                     <li class="submenu">
    <a style="color: white" href="#">Omborxona<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
                           <li><a href="{% url 'product_list' %}">Barcha Maxsulotlar</a></li>
                           <li><a href="{% url 'list_sold_items' %}">Bugun Sotilgan</a></li>
                           <li><a href="{% url 'out_of_stock_products' %}">Qolmagan Maxsulotlar</a></li>
                        </ul>
</li>
                      <li class="submenu">
    <a style="color: white" href="#">Kassa<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
                           <li><a href="{% url 'today_sales_report' %}">Kunlik Hisobot</a></li>
                           <li><a href="{% url 'nasiya_sold_items' %}">Qarzdorlar Ro'yxati</a></li>
                        </ul>
</li>



                  </ul>
               </div>
            </div>
         </div>