{% load static %}
<style>
   .space {
  display: inline-block;
  width: 10px; /* Adjust the width as per your desired spacing */
}
.submenu {
        border: 1px solid #ccc;
        border-radius: 10px;
        transition: transform 0.3s ease;
    }


</style>
<div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
               <div id="sidebar-menu" class="sidebar-menu">
                  <ul>
                     <li class="menu-title">
                        <h3 style="color: #333333; font-size: 18px">Шаблоны для поиска на тему:</h3>
                     </li>
                     <li class="submenu">
    <a style="color: grey" href="#">Медицинские Термины<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Что означает термин "______" в медицинском контексте?<br><br>
                2) Какие основные характеристики и определения связаны с термином "______"?<br><br>
                3) Каковы основные функции и роли "______" в организме?<br><br>
                4) Какие болезни или состояния могут быть связаны с термином "______"?<br><br>
                5) Каковы основные методы диагностики или измерения "______"?<br><br>
                6) Какие лечебные меры или терапии могут быть связаны с термином "______"?<br><br>
                7) Расскажите о связи между "______" и другими медицинскими терминами или концепциями.<br><br>
                8) Какие последствия или осложнения могут возникнуть в случае нарушения "______"?<br><br>
                9) Какие современные исследования или новые технологии связаны с термином "______"?<br><br>
                10) Какие факторы могут повлиять на уровень или функцию "______" в организме?
            </a>
        </li>
    </ul>
</li>
<li class="submenu">
    <a style="color: grey" href="#">Составить Тесты<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Создайте тест на тему "______" для подготовки к предмету по ______<br><br>
                2) Помогите мне составить 10 вопросов на основе этого текста "______" для создания теста по ______<br><br>
                3) Можете ли вы сгенерировать несколько вопросов для теста, основываясь на следующей теме: "______"?<br><br>
                4) Предоставьте мне тестовые вопросы, связанные с темой "______", чтобы я мог подготовиться к экзамену по ______.<br><br>
                5) Я бы хотел получить набор вопросов для составления теста на основе материала "______" в рамках курса по ______
            </a>
        </li>
    </ul>
</li>
                      <li class="submenu">
    <a style="color: grey" href="#">Карточки для Подготовки<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Помогите мне создать карточки на тему "______" для подготовки к предмету по ______<br><br>
                2) Создайте набор карточек с определениями и объяснениями на основе следующей темы: "______"<br><br>
                3) Можете ли вы сгенерировать карточки, которые содержат основные факты и концепции связанные с темой "______" для моей подготовки к экзамену по ______<br><br>
                4) Предоставьте мне карточки с вопросами и ответами, связанными с темой "______", чтобы я мог систематизировать свои знания перед курсом по ______<br><br>
                5) Я бы хотел получить набор карточек, которые охватывают основные термины и понятия, связанные с "______"
            </a>
        </li>
    </ul>
</li>
<li class="submenu">
    <a style="color: grey" href="#">Ресурсы и Книги<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
               1) Можете ли вы предоставить мне полезные ресурсы и ссылки в Интернете по теме "______"?<br><br>
                2) Помогите мне найти качественные онлайн-ресурсы, связанные с "______".<br><br>
                3) Предложите мне названия книг или научных статей, которые охватывают тему "______".<br><br>
                4) Какие авторитетные источники или академические журналы рекомендуются для изучения "______"?<br><br>
                5) Можете ли вы найти ссылки на вебинары или лекции, которые касаются темы "______"?<br><br>
                6) Какие книги или статьи можно почитать для более глубокого понимания "______"?<br><br>
                7) Можете ли вы найти актуальные исследования или клинические испытания, связанные с "______"?<br><br>
                8) Какие онлайн-платформы или базы данных рекомендуются для изучения "______"?<br><br>
                9) Помогите мне найти обзорные статьи или рецензии на тему "______".<br><br>
                10) Можете ли вы предложить некоторые блоги или экспертные мнения по вопросам "______"?
            </a>
        </li>
    </ul>
</li>
<li class="submenu">
    <a style="color: grey" href="#">Шаблоны для исследований<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                1) Опиши причины, симптомы и методы диагностики заболевания ______.<br><br>
                2) Какие факторы могут способствовать развитию заболевания ______ и как их можно предотвратить?<br><br>
                3) Расскажи о различных методах лечения ______ и их эффективности.<br><br>
                4) Какие преимущества и ограничения имеет использование техники ______ в медицинской практике?<br><br>
                5) Какие новые исследования или технологии в области ______ могут быть перспективными для будущего медицинского применения?<br><br>
                6) Какие этические аспекты связаны с ______ в медицине и как они должны быть учтены?<br><br>
                7) Какие основные факторы влияют на пациентов при ______ ?<br><br>
                8) Расскажи о последних достижениях в лечении ______ и их влиянии на практику медицинской помощи.<br><br>
                9) Какие проблемы существуют в области ______ и какие шаги предпринимаются для их решения?<br><br>
                10) Каким образом ______ влияет на здоровье пациентов и как это может быть контролировано или лечено?
            </a>
        </li>
    </ul>
</li>
<li class="submenu">
    <a style="color: grey" href="#">Может ли помощник помочь мне анализировать медицинские данные?<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                Да, функция Анализа данных позволяет вам анализировать медицинские данные с использованием алгоритмов искусственного интеллекта. Она помогает извлекать полезные выводы и узнавать закономерности из загруженных данных.
            </a>
        </li>
    </ul>
</li>
<li class="submenu">
    <a style="color: grey" href="#">Как работает функция Генерации обзоров?<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                Функция Генерации обзоров позволяет создавать краткие обзоры загруженных документов. Она анализирует содержимое и предоставляет краткое описание, облегчая вам обзор важной информации.
            </a>
        </li>
    </ul>
</li>


<li class="submenu">
    <a style="color: grey" href="#">Какую информацию предоставляет функция Периодической таблицы?<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                Функция Периодической таблицы предлагает информацию о химических элементах, включая их атомный номер, атомную массу, электронную конфигурацию и другие свойства. Она помогает вам понять периодические закономерности и характеристики различных элементов.
            </a>
        </li>
    </ul>
</li>

<li class="submenu">
    <a style="color: grey" href="#">Может ли помощник помочь с химическими реакциями и уравнениями?<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                Да, помощник может помочь с химическими реакциями и уравнениями. Он может помочь вам балансировать уравнения, определять типы реакций и предоставлять объяснения различных химических процессов.
            </a>
        </li>
    </ul>
</li>

<li class="submenu">
    <a style="color: grey" href="#">Как работает функция Стохиометрии и расчета молей?<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                Функция Стохиометрии и расчета молей помогает в решении задач, связанных со стехиометрией и расчетами молей. Она помогает вам вычислить количество веществ, участвующих в химических реакциях.
            </a>
        </li>
    </ul>
</li>

<li class="submenu">
    <a style="color: grey" href="#">Поддерживает ли помощник Органическую химию?<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                Да, помощник предоставляет информацию и помощь, связанную с органической химией. Он помогает вам понять понятия, такие как функциональные группы, механизмы реакций и свойства органических соединений.
            </a>
        </li>
    </ul>
</li>

<li class="submenu">
    <a style="color: grey" href="#">Может ли помощник предоставить лабораторные инструкции и руководства?<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                Да, помощник может помочь вам получить лабораторные инструкции и руководства, предлагая инструкции и процедуры для различных экспериментов и техник в химии.
            </a>
        </li>
    </ul>
</li>

<li class="submenu">
    <a style="color: grey" href="#">Поддерживает ли помощник Вычислительную химию и моделирование?<span class="space"></span><span class="menu-arrow"></span></a>
    <ul>
        <li>
            <a>
                Да, помощник может помочь вам с Вычислительной химией и моделированием. Он предоставляет информацию о вычислительных методах, молекулярном моделировании и симуляциях, используемых в химических исследованиях и анализе.
            </a>
        </li>
    </ul>
</li>



                  </ul>
               </div>
            </div>
         </div>